/* General styles */
body {
     font-family: Arial, sans-serif;
     background-color: #101010;
     color: #ffffff;
     margin: 0;
     padding: 0;
}

#main-bar-profile {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #1a1a1a;
     padding: 1rem;
     margin-bottom: 0.3rem;

}

#main-bar-profile img {
     border-radius: 50%;
     width: 150px;
     height: 150px;
     object-fit: cover;
     margin-bottom: 1rem;
}

#main-bar-profile h2 {
     margin: 0;
     font-size: 1.5rem;
     color: #ffffff;
}

#botones-perfil {
     margin-top: 1rem;
}

#main-body-profile {
     display: flex;
     justify-content: center;
     padding: 1rem;
     gap: 1rem;
     max-width: 1200px;
     /* Set a maximum width for the main container */
     margin: 0 auto;
     /* Center the main container */
}

.left-profile-container {
     background-color: #1a1a1a;
     padding: 1rem;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
     color: #ffffff;
     flex: 1;
     width: 20%;
}

.right-profile-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #101010;
     color: #ffffff;
     width: 80%;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#general-profile-info-container h3 {
     margin-top: 0;
     color: #ffffff;
}

.post-profile-container {
     display: flex;
     justify-content: center;
     font-size: 1.5em;
     margin-top: 1rem;
     width: 100%;
     /* Ensure it takes up the full width of the container */
}


.section-body {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #1a1a1a;
     padding: 1rem;
     color: #ffffff;
     width: 100%;
}

.posts-continer {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #101010;
     color: #ffffff;
}