<app-navigation-bar />
<div id="home-page">
     <div id="home-page-landing">
          <div id="landing-left">
               <div id="landing-left-content">
                    <h1>Social Media App platform</h1>
                    <p>
                         Share your favorite moments with friends and family.
                    </p>
               </div>
          </div>
          <div id="landing-right">
               <div id="landing-right-content">
                    <app-autheticator id="home-form-container" />
               </div>
          </div>
     </div>
</div>