<app-navigation-bar [loggedIn]="this.loggedIn" [ngClass]={loggedIn} />
<div id="main-body-grid">
     <div class="main-sections" id="left-main-section">Left Column</div>
     <div class="main-sections">
          <app-publish-post id="publish-post-container" />
          <div *ngFor="let post of posts" class="main-sections">
               <app-post class="main-sections" id="genera-post" [post]="post" />
               <br>
          </div>
     </div>
     <div class="main-sections" id="right-main-section">
          <app-friend />
     </div>
</div>