.main-body-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #1a1a1a;
     box-sizing: border-box;
     width: 70%;
     min-width: 400px;
     color: #ffffff;
     min-height: 100px;
     padding: 1rem;
}

.card-content {
     padding: 0.01em 1rem;
     width: 100%;
     align-items: center;
     height: 100%;
}

#card-content-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     padding: 0.5rem;
     box-sizing: border-box;
}

#card-picture-content {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0.2rem 0;
     background-color: #2a2a2a;
     border-radius: 8px;
     width: 100%;
     height: 100%;
     max-height: 400px;
     overflow: hidden;
}

#card-text-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: left;
     margin: 0.2rem 0;
     padding: 0.5rem 0.5rem;
     border-radius: 8px;
     width: 100%;
     height: 100%;
}

.user-picture {
     width: 100%;
     height: 500px;
     object-fit: cover;
}

#post-user-title:hover {
     cursor: pointer;
     /* Aquí puedes agregar los estilos para el hover */
}

#footer-post-section {
     display: flex;
     flex-direction: row;
}

.white-divider {
     background-color: white;
}

.comments-container {
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-items: start;
     width: 100%;
     height: fit-content;
     margin: 0.2rem 0;
     padding: 10px;
     box-sizing: border-box;
     background-color: #1a1a1a;
     border-radius: 10px;
}

#form-comment {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin: 0.2rem 0;
     padding: 10px;
     box-sizing: border-box;
     background-color: #1a1a1a;
     border-radius: 10px;
}

.comments-container-general {
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-items: start;
     width: 100%;
     padding: 0.5rem;
     box-sizing: border-box;
     background-color: #101010;
     border-radius: 10px;
}

#comment {
     margin: 10px;
     max-lines: 3;
     height: auto;
     max-width: 100%;
     resize: vertical;
     border-radius: 10px;
     padding: 0.5rem 0.5rem;
}