<div id="publish-post-form">
     <form id="publish-form" (submit)="onSubmit()">
          <div id="publish-post-form-group">
               <input type="text" id="post-description" name="post-description" [(ngModel)]="postDescription"
                    placeholder="Enter description" />
          </div>
          <div id="publish-post-buttons">
               <div id="publish-file-container">
                    <!--
                    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                    
                    <div class="file-upload">
                         {{fileName || ""}}
                         <button mat-mini-fab color="disabled" class="upload-btn" (click)="fileUpload.click()"
                              type="button">
                              <mat-icon>attach_file</mat-icon>
                         </button>
                    </div>
                    -->
               </div>
               <div id="publish-submit-button">
                    <button mat-raised-button type="submit" color="warn">Publish</button>
               </div>
          </div>
     </form>
</div>